@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section MetaTags
{
    <meta name="description" content="RP.Core31.Base @Model.BusinessName  - Abc xyz services in Sydney NSW. We have a best qualified team of professionals who help you to resume or maintain an active and independent life both at home and work." />
    <meta name="keywords" content="Sydney NSW ABc xyz services,  specialise in industry. " />
    <meta name="format-detection" content="telephone=no">
}
@section StyleSheets
{
    @*<link rel="stylesheet" href="~/css/pricing.css" />*@
}

@section scripts{
    @*<script async src="https://www.youtube.com/iframe_api"></script>
        <script async src="~/js/video.js" asp-append-version="true"></script>
        <script async src="~/js/carousel-animation.js" asp-append-version="true"></script>*@
}

@section Heading
{
    <partial name="_HomeHeaderCarousel" />
}

<div class="text-center">
    <partial name="Home/_Welcome" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" rel="noreferrer">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="section-divider text-center">
    <div class="motion-picture2">
        <div>
            <p class="text-center"> The following .svg image is a responsive image. And it is done by adding the following style:</p>
            <code>width: 100%; height: auto;</code>
        </div>
        <img src="~/img/svg-design1.svg" alt="web-info" style="width: 100%; height: auto;" />
    </div>
</div>

<section id="sctn-business-services1">
    <div class="business-services1-grid1">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="text-center">
                    <h1 class="display-4">1 January 1983</h1>
                    <h2>It's Now 39 Years, 6 Months And 19 Days Since The Introduction Of The Internet.  </h2>
                    <p>January 1, 1983 is considered the official birthday of the Internet. Prior to this, the various computer networks did not have a standard way to communicate with each other. A new communications protocol was established called Transfer Control Protocol/Internetwork Protocol (TCP/IP).</p>
                    <h3>Also, It's Now 33 Years Since The Introduction Of The World Wide Web</h3>
                </div>
            </div>
            <div class="col-sm">
                <div class="motion-picture1">
                    <img src="~/img/banner576x563.jpg" alt="web-info" class="img-fluid mx-auto" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="motion-picture3">
                    <img src="~/img/web-h-sv.svg" alt="web-info" style="width: 100%; height: auto;" />
                </div>
            </div>
            <div class="col-sm">
                <div class="text-center">
                    <h1 class="display-4">Exercise</h1>
                    <h2>Try to do this after you go through the code</h2>
                    <p>The numbers in the following line should be updated dynamically based on the starting date, 1 January 1983. The numbers are calculated based on system dates. </p>
                    <h3>It's Now <span class="text-danger">39</span>  Years, <span class="text-danger">6</span>  Months And <span class="text-danger">19</span> Days Since The Introduction Of The Internet.  </h3>
                    <p>Once you have completed the exercise, the above fixed numbers should change based on 1 January 1983, the date of the introduction of the internet.  </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <article class="row  mt-1  row-cols-1 row-cols-md-3">
        <div class="col  mb-4">
            <div class="image-wrapper float-left pr-3">
                <img src="~/img/shop.svg" alt="">
            </div>
            <div class="single-post-content-wrapper pr-3">
                <h5 class="card-title">Corporate Business</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="col   mb-4">
            <div class="image-wrapper float-left pr-3">
                <img src="~/img/it-learn.svg" alt="">
            </div>
            <div class="single-post-content-wrapper pr-3">
                <h5 class="card-title">App Development</h5>
                <p class="card-text ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-wrapper float-left pr-3">
                <img src="~/img/board.svg" alt="">
            </div>
            <div class="single-post-content-wrapper pr-3">
                <h5 class="card-title">IT Consultancy</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </article>
</div>

<hr />

<partial name="Home/_CardGrid" />

<partial name="Home/_CardDeck" />

<partial name="Home/_BusinessScope" />

<partial name="Home/_TextWrapImage" />

<div class="section-divider text-center">
    <div class="">
        <p class="text-center"> The following .png image is a responsive image and it is done by adding the following bootstrap css classes to the img tag:</p>
        <code>class="img-fluid mx-auto"</code>
        <p class="text-center">And centered the image by adding following style to the css class of the parent <code>&lt;div&gt;</code>:</p>
        <code>text-align:center;</code>
    </div>
    <div class="motion-picture1">
        <img src="~/img/design3.png" alt="web-info" class="img-fluid mx-auto" />
    </div>
</div>

<partial name="Home/_ServiceFeatureGrid" />

<div class="card text-center mt-5">
    <div class="card-header">
        <h1>Additional features included in this template: </h1>
    </div>
    <div class="card-body">
        <p class="card-text">
            This project also demonstrates how to add commonly used custom UI features in the Visual Studio 2019 Community edition.
        </p>
    </div>
    <div class="card-footer text-muted">
        <p class="card-text">
            This template does NOT demonstrates how to add custom user data to a generated project in the Visual Studio 2019 Comunity edition. Please check the other template that comes with user authentication enabled. And it will show the practices used to meet some of the GDPR requirements added custom user data, ie user can delete own user data entered any time.
        </p>
    </div>
</div>

<div class="card-deck mt-5">
    <div class="card text-center">
        <div class="card-header">
            <h2 class="card-title">Scroll to top Button </h2>
        </div>
        <div class="card-body">
            <p class="card-text">Added necessary code to show up scroll to top button at the bottom left corner of the page.</p>
            <a href="#" class="btn btn-dark btn-lg scroll-to-top" role="button" title="goto top button"><i class="fas fa-arrow-alt-circle-up fa-2x"></i></a>
            <a id="back-to-top" href="#" class="btn btn-dark btn-lg back-to-top" role="button" title="goto top button"><i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">
            <h2 class="card-title">Use System Variables</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                Shows how to use system variables in the Razor pages. The demonstration can be found in the
                <a class="btn btn-primary text-light" asp-area="" asp-page="/About">About</a> page.
            </p>
        </div>
    </div>
</div>

<div class="card-deck  mt-3">
    <div class="card text-center">
        <div class="card-header">
            <h2 class="card-title">Font Awesom icons</h2>
        </div>
        <div class="card-body">
            <p class="card-text">Can easily add font-awesome icons.</p>
            <p>
                <span class="btn btn-info">
                    <i class="fas fa-address-book fa-4x"></i>
                </span>&nbsp;&nbsp;
                <span class="btn btn-default">
                    <i class="fas fa-cart-plus fa-4x"></i>
                </span>&nbsp;&nbsp;
                <span class="btn btn-success">
                    <i class="fas fa-birthday-cake fa-4x"></i>
                </span>&nbsp;&nbsp;
                <span class="btn btn-warning">
                    <i class="fas fa-hammer fa-4x"></i>
                </span>

            </p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">
            <h2 class="card-title">Navbar Shrink on Scroll down</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Navbar shrink and expand</h5>
            <p class="card-text">NavBar shrinks when the user scroll down the page. If the user scroll up to the top, or use scroll up button, it will expand back.  </p>
        </div>
    </div>
</div>

<div class="card text-center mt-5">
    <div class="card-header">
        <h1>Some Bootstrap 4.5.3 Features Used In This Template</h1>
    </div>
</div>

<div class="card-deck">
    <div class="card text-center  mt-5">
        <div class="card-header">
            <h2 class="card-title">Sticky Navigation Bar</h2>
        </div>
        <div class="card-body">
            <p class="card-text">The navigation bar is always visible at the top of the page.</p>
            <p class="card-text"><small class="text-muted">Note: this is not an additional feature, just a modification to the existing Navbar</small></p>
        </div>
    </div>
    <div class="card text-center  mt-5">
        <div class="card-header">
            <h2 class="card-title">Bootstrap Carousel</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                Bootstrap carousel is available with the previously released ASP.NET Core 2.1 template. So I have added it here with modified bootstrap  code to match the version used in this template
            </p>
        </div>
    </div>
    <div class="card text-center  mt-5">
        <div class="card-header">
            <h2 class="card-title">Equal Height Panels Using Cards</h2>
        </div>
        <div class="card-body">
            <p class="card-text">As in this part, equal height panles can easily add using Bootstrap <i>Card</i> feature.</p>
        </div>
    </div>
</div>

<div class="card text-center mt-5 mb-5">
    <div class="card-header">
        <h2>And more features to come .. </h2>
    </div>
</div>

<partial name="Home/_BusinessFeatures.cshtml" />

<partial name="Home/_FeatureSet.cshtml" />

<environment include="Development,Staging">
    <div class="container-fluid">
        <div class="card text-center mt-5">
            <div class="card-header">
                <p>This section will only visible on your development or staging web server. In production environment it should automatically exclude the contents in the section. </p>
                <h1>Visual Studio Solution Name: <span class="text-success">@Html.DisplayFor(model => model.SolutionName)</span></h1>
            </div>
            <div class="card-body">
                <h3 class="card-title">Project Name : <span class="span-bold text-danger">@Html.DisplayFor(model => model.MyApplicationName)</span></h3>
                <p class="card-text"> ASPNETCORE_ENVIRONMENT : <span class="btn btn-danger">@Html.DisplayFor(model => model.ThisEnvironment)</span> </p>
                <p>Application Name : <span class="btn alert-primary">@Html.DisplayFor(model => model.MyApplicationName)</span> </p>
                <p>TargetFramework : <span class="btn alert-primary text-wrap">@Html.DisplayFor(model => model.TargetFramework)</span> </p>
                <p>Microsoft ASP.NET Core Version : <span class="btn alert-primary">@Html.DisplayFor(model => model.DotNetCoreVersion)</span> </p>
                <p>Current RunTime Version : <span class="btn alert-primary">@Html.DisplayFor(model => model.CurrentRunTimeVersion)</span> </p>
            </div>
            <div class="card-footer text-muted">
                <p><span class="btn alert-primary text-wrap">@Html.DisplayFor(model => model.version)</span> </p>
            </div>
        </div>
    </div>
</environment>